# Dependencies
node_modules
.next
.turbo

# Build outputs
dist
build

# Logs
*.log

# Lock files
yarn.lock
package-lock.json
pnpm-lock.yaml

# Environment files
.env
.env.local
.env*.local

# TypeScript build info
*.tsbuildinfo
